<footer class="bg-gray-900 text-muted px-4 py-8">
  <div class="max-w-7xl mx-auto flex justify-between gap-6">

    <!-- Brand Section -->
    <div class="text-center sm:text-left">
      <p class="text-sm text-gray-100 mt-1">&copy; {{ currentYear }} Zard UI. All rights reserved.</p>
    </div>

    <!-- Call to Action or Quick Contact -->
    <div>
      <a href="https://github.com/zard-ui/zardui">
        <img src="/images/github.svg" alt="github logo" class="size-5 filter invert" />
      </a>
    </div>
  </div>
</footer>
