<form [formGroup]="form" class="grid gap-4">
  <div class="grid gap-3">
    <label
      for="name"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none"
    >
      Name
    </label>
    <input z-input formControlName="name" placeholder="Your name" />
  </div>

  <div class="grid gap-3">
    <label
      for="email"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none"
    >
      Email
    </label>
    <input z-input formControlName="email" placeholder="Your email" />
  </div>

  <div class="grid gap-3">
    <label
      for="message"
      class="flex items-center gap-2 text-sm leading-none font-medium select-none"
    >
      Message
    </label>
    <textarea z-input rows="8" cols="12" placeholder="Your message" formControlName="message"></textarea>
  </div>
</form>
